<container>
  <row class="footer-menu">
    <columns class="footer-top">
      <row>
        <columns class="footer-top-left">
          <img
            src="assets/img/marleylilly_files/ml-logo-two.png"
            alt="ml-logo"
            class="logo-pink"
          />
        </columns>
      </row>
    </columns>
  </row>
  <row class="footer-menu">
    <columns small="2"></columns>
    <columns class="footer-middle" large="8" small="8">
      <row>
        <columns class="media-logos" small="2">
          <a href="#">
            <img
              class="float-center"
              src="assets/img/marleylilly_files/insta-pink.png"
              alt="instagram-logo"
            />
          </a>
        </columns>
        <columns class="media-logos" small="2">
          <a href="#">
            <img
              class="float-center"
              src="assets/img/marleylilly_files/fb-pink.png"
              alt="facebook-logo"
            />
          </a>
        </columns>
        <columns class="media-logos" small="2">
          <a href="#">
            <img
              class="float-center"
              src="assets/img/marleylilly_files/twitter-pink.png"
              alt="twitter-logo"
            />
          </a>
        </columns>
        <columns class="media-logos" small="2">
          <a href="#">
            <img
              class="float-center"
              src="assets/img/marleylilly_files/pinterest-pink.png"
              alt="pinterest-logo"
            />
          </a>
        </columns>
        <columns class="media-logos" small="2">
          <a href="#">
            <img
              class="float-center"
              src="assets/img/marleylilly_files/yt-pink.png"
              alt="youtube-logo"
            />
          </a>
        </columns>
        <columns class="media-logos" small="2">
          <a href="#">
            <img
              class="float-center"
              src="assets/img/marleylilly_files/email-pink.png"
              alt="email-logo"
            />
          </a>
        </columns>
      </row>
    </columns>
    <columns small="2"></columns>
  </row>
  <row class="footer-menu">
    <columns class="footer-bottom">
      <row>
        <columns>
          <p class="text-center">Marleylilly & Marleylilly Kids</p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-center">
            300 W Phillips Road <span class="btn-dot"></span>Greer, SC
            <span class="btn-dot"></span>United States
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-center">
            © 2019 Copyright
            <a href="#" class="float-center unsub-link footer-btm-pink">
              Contact
            </a>
            <a href="#" class="float-center unsub-link footer-btm-pink">
              Privacy Policy
            </a>
          </p>
        </columns>
      </row>
      <row class="unsub-row">
        <columns>
          <center>
            <a href="#" class="float-center unsub-link">
              update your subscription preferences
            </a>
          </center>
        </columns>
      </row>
      <row>
        <columns>
          <p class="footer-last text-center">
            Receive a FREE Oatmeal Leopard Stripes Sleeve T-Shirt (a $40 value)
            with any $100 purchase. This offer is valid until Thursday, August
            5, 2021 at 11:59pm EST or while supplies last. This offer applies to
            all new purchases from
            <a href="#" class="website">Marleylilly.com</a> and does not apply
            to previous purchases. It cannot be redeemed for cash or applied
            toward other items. If your order qualified for a free gift with
            purchase and the item(s) returned result in your order subtotal
            going below the qualifying amount, the free gift must be returned.
            If you choose to keep the free gift, the retail value of the free
            gift will be deducted from the refund amount.
          </p>
        </columns>
      </row>
    </columns>
  </row>
</container>
