<container>
  <row class="header header-top">
    <columns large="12" small="12" style="vertical-align: middle">
      <a href="#">
        <img
          src="assets/img/marleylilly_files/ml-logo.png"
          class="logo-white float-center"
        />
      </a>
    </columns>
  </row>
  <row class="header header-bottom">
    <columns large="12" small="12" style="vertical-align: middle" class="menu">
      <center>
        <a href="#" class="button">BEST SELLERS</a>
        <span class="btn-dot"></span>
        <a href="#" class="button">WHAT'S NEW</a>
        <span class="btn-dot"></span>
        <a href="#" class="button show-for-large">GIFTS</a>
        <span class="btn-dot show-for-large"></span>
        <a href="#" class="button show-for-large">COLLECTIONS</a>
        <span class="btn-dot show-for-large"></span>
        <a href="#" class="button">SALE</a>
      </center>
    </columns>
  </row>
</container>
